{% extends "base.html" %}

{% block content %}
<h1>Welcome</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-7">
            <div class="bg-secondary bg-opacity-25 p-4 rounded-3 shadow-sm"> <!-- Main Content Wrapper -->
                <strong>insert project description here</strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary bg-opacity-25 rounded-3 shadow-sm"> <!-- Sidebar -->
                <div class="card-body">
                    <h3 class="card-title text-light">Contributors</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent text-light">Tanveer Haider - 2181796</li>
                        <li class="list-group-item bg-transparent text-light">James Jackson - 2839180</li>
                        <li class="list-group-item bg-transparent text-light">Carrick Kennedy - 2837588</li>
                        <li class="list-group-item bg-transparent text-light">Ho Lam Li - 2879279</li>
                        <li class="list-group-item bg-transparent text-light">Jalal Zulfiqar - 2724243</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
