{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>Review</h1>

<h2 class="mt-5">{{ 'Add New' if form.edit.data == '-1' else 'Edit' }} Review</h2>
<div class="container row justify-content-start col-6">
    <form method="POST" action="{{ url_for('review') }}" novalidate>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.feature, False) }}
        {{ wtf.form_field(form.stars, False) }}
        {{ wtf.form_field(form.text, False) }}
        {{ wtf.form_field(form.submit, False) }}
        {% if form.edit.data != '-1' %}
        <div>
            <a href="{{ url_for('review') }}" class="btn btn-secondary">Cancel Edit</a>
        </div>
        {% endif %}
    </form>
</div>

<h2 class="mt-5">Your Reviews</h2>
<table class="table table-dark table-striped table-bordered align-middle shadow-sm rounded">
    <thead class="table-secondary text-dark shadow-sm rounded">
        <tr>
            <th>
                Feature
            </th>
            <th>
                Stars
            </th>
            <th>
                Text
            </th>
        </tr>
    </thead>
    {% for review in current_user.reviews %}
        <tr>
            <td>
                {{ review.feature }}
            </td>
            <td>
                {{ review.stars }}
            </td>
            <td>
                {{ '' if review.text == None else review.text }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}
